@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Forever Alone Diner</h1>
    <h2>Welcome</h2>
    <p>Here you can taste the most delicious meals from all over the globe.</p>
</div>
